@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-image: url("../images/bg-pattern-desktop.svg");
  background-size: cover;
  font-family: "Josefin Sans", sans-serif;
}

.logo {
  margin: 60px 0;
  width: 200px;
}

.container {
  display: flex;
  min-height: 100vh;
}

.inner-container {
  max-width: 430px;
}

h1 {
  font-size: 60px;
  letter-spacing: 10px;
  text-transform: uppercase;
  transform: translateX(-100%);
  line-height: 1.2;
  animation: comeinleft 0.5s ease forwards;
}

@keyframes comeinleft {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

p {
  color: hsl(0, 36%, 70%);
  line-height: 20px;
  margin: 30px 0;
  transform: translateX(100%);
  animation: comeinright 0.5s ease forwards;
}

@keyframes comeinright {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

span {
  color: hsl(0, 36%, 70%);
  font-weight: 300;
}

form {
  position: relative;
  transform: translateX(-100%);
  animation: comeinleft 0.5s ease forwards;
}

.bg-mobile {
  display: none;
}

input {
  background-color: transparent;
  border: 1px solid hsl(0, 80%, 86%);
  border-radius: 50px;
  font-size: 16px;
  padding: 15px;
  width: 100%;
}

input:focus {
  border-width: 2px;
  box-shadow: 0 0 10px hsla(0, 36%, 70%, 0.5);
  outline: none;
}

input::placeholder {
  color: hsl(0, 36%, 70%);
}

form.error input {
  border: 2px solid hsl(0, 74%, 74%);
}

form.error .error-icon {
  display: block;
}

form.error small{
  display: block;
}

button {
  background-image: Linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  border: none;
  border-radius: 50px;
  box-shadow: 2px 5px 10px hsla(0, 36%, 70%, 0.5);
  cursor: pointer;
  padding: 15px;
  position: absolute;
  transition: opacity 0.2s ease;
  right: 0;
  top: 0;
  width: 100px;
}

button:hover {
  opacity: 0.6;
}



.error-icon {
  display: none;
  position: absolute;
  right: 110px;
  top: 15px;
  
}

small {
  color: hsl(0, 74%, 74%);
  display: none;
  margin-top: 15px;
  margin-left: 30px;
}

.left {
  background-image: url("../images/bg-pattern-desktop.svg");
  background-size: cover;
  background-position: center center;
  padding: 0 40px 40px;
  width: 60%;
}

.right {
  width: 40%;
}

.bg-image {
  background-image: url("../images/hero-desktop.jpg");
  background-size: cover;
  background-position: center center;
}



@media only screen and (max-width: 767px) {
  .logo {
    margin: 30px 0;
    width: 100px;
  }

  .bg-mobile {
    display: block;
    margin: 0  -40px 0 -44px;
    width: 450px;
  }

  h1 {
    font-size: 40px;
  }

  .left {
    width: 100%;
  }

  .right {
    display: none;
  }
}
